scopeName: 'source.flitter'
name: 'Flitter'
fileTypes: ['fl']

patterns: [
    {
        match: '\\A#!.*'
        name: 'comment.hashbang.flitter'
    }
    {
        match: '--.*$'
        name: 'comment.single.flitter'
    }
    {
        match: '\\b[-+]?([0-9][_0-9]*(\\.[0-9][_0-9]*)?|\\.[0-9][_0-9]*)([eE][-+]?[0-9][_0-9]*)?[pnuµmkMGT]?\\b'
        name: 'constant.numeric.flitter'
    }
    {
        match: ":[_\\p{alpha}][_\\p{alnum}]*'*\\b"
        name: "constant.symbol.flitter"
    }
    {
        match: "\\b(true|false)\\b"
        name: "constant.logical.flitter"
    }
    {
        match: "\\.\\.|\\|"
        name: "keyword.operator.range.flitter"
    }
    {
        match: "\\$"
        name: "keyword.operator.lookup.flitter"
    }
    {
        match: ";"
        name: "keyword.operator.sequence.flitter"
    }
    {
        match: "<\\=|>\\=|\\=\\=|<|>|!="
        name: "keyword.operator.comparison.flitter"
    }
    {
        match: "\\+|\\-|\\*|\\*\\*|/|//|%"
        name: "keyword.operator.arithmetic.flitter"
    }
    {
        match: "\\b(pragma)\\s+([_\\p{alpha}][_\\p{alnum}]*'*)"
        captures:
            '1':
                name: "keyword.control.flow.flitter"
            '2':
                name: "constant.pragma.flitter"
    }
    {
        match: "\\b(import)\\s+([_\\p{alpha}][_\\p{alnum}]*'*\\s*(?:\\s*;\\s*[_\\p{alpha}][_\\p{alnum}]*'*)*)\\s+(from)"
        captures:
            '1':
                name: "keyword.control.flow.flitter"
            '2':
                patterns: [
                    {
                        match: "[_\\p{alpha}][_\\p{alnum}]*'*"
                        name: "variable.name.flitter"
                    }
                    {
                        match: ";"
                        name: "keyword.operator.sequence.flitter"
                    }
                ]
            '3':
                name: "keyword.control.flow.flitter"
    }
    {
        match: "\\b(if|elif|else|let|where)\\b"
        name: "keyword.control.flow.flitter"
    }
    {
        match: "\\b(and|not|or|xor)\\b"
        name: "keyword.operator.logical.flitter"
    }
    {
        match: "![_\\p{alpha}][_\\p{alnum}]*'*"
        name: "constant.node.flitter"
    }
    {
        match: "@\\s*[_\\p{alpha}][_\\p{alnum}]*'*"
        name: "entity.name.function.flitter"
    }
    {
        match: "\\#[_\\p{alpha}][_\\p{alnum}]*'*"
        name: "constant.tag.flitter"
    }
    {
        match: "\\b([_\\p{alpha}][_\\p{alnum}]*'*\\s*(?:\\s*;\\s*[_\\p{alpha}][_\\p{alnum}]*'*)*)\\s*(=)(?=[^=])"
        captures:
            '1':
                patterns: [
                    {
                        match: "[_\\p{alpha}][_\\p{alnum}]*'*"
                        name: "variable.name.flitter"
                    }
                    {
                        match: ";"
                        name: "keyword.operator.sequence.flitter"
                    }
                ]
            '2':
                name: "keyword.operator.assignment.flitter"
    }
    {
        match: "(for)\\s+([_\\p{alpha}][_\\p{alnum}]*'*\\s*(?:;\\s*[_\\p{alpha}][_\\p{alnum}]*'*)*)\\s+(in)"
        captures:
            '1':
                name: "keyword.control.flow.flitter"
            '2':
                patterns: [
                    {
                        match: "[_\\p{alpha}][_\\p{alnum}]*'*"
                        name: "variable.name.flitter"
                    }
                    {
                        match: ";"
                        name: "keyword.operator.sequence.flitter"
                    }
                ]
            '3':
                name: "keyword.control.flow.flitter"
    }
    {
        match: "\\b(func)\\s+([_\\p{alpha}][_\\p{alnum}]*'*)"
        captures:
            '1':
                name: "keyword.control.flow.flitter"
            '2':
                name: "entity.name.function.flitter"
    }
    {
        begin: "([_\\p{alpha}][_\\p{alnum}]*'*)\\s*(\\()"
        beginCaptures:
            '1':
                name: 'entity.name.function.flitter'
            '2':
                name: 'punctuation.definition.arguments.begin.flitter'
        end: '\\)'
        endCaptures:
            '0':
                name: 'punctuation.definition.arguments.end.flitter'
        patterns: [
            {
                include: '$self'
            }
        ]
    }
    {
        match: "[_\\p{alpha}][_\\p{alnum}]*'*"
        name: "variable.name.flitter"
    }
    {
        begin: "(\"\"\")"
        beginCaptures:
            "1":
                name: "punctuation.definition.string.begin.flitter"
        end: "((?<=\"\"\")(\")\"\"|\"\"\")"
        endCaptures:
            "1":
                name: "punctuation.definition.string.end.flitter"
            "2":
                name: "meta.empty-string.double.flitter"
        name: "string.quoted.double.multi-line.flitter"
    }
    {
        begin: '(\")'
        beginCaptures:
            '1':
                name: 'punctuation.definition.string.begin.flitter'
        end: '((?<=\")(\")|\")'
        endCaptures:
            '1':
                name: "punctuation.definition.string.end.flitter"
            '2':
                name: "meta.empty-string.double.flitter"
        name: "string.quoted.double.single-line.flitter"
        patterns: [
            {
                match: '(\\\\")'
                name: 'constant.character.escape.flitter'
            }
        ]
    }
    {
        begin: "(\'\'\')"
        beginCaptures:
            "1":
                name: "punctuation.definition.string.begin.flitter"
        end: "((?<=\'\'\')(\')\'\'|\'\'\')"
        endCaptures:
            "1":
                name: "punctuation.definition.string.end.flitter"
            "2":
                name: "meta.empty-string.single.flitter"
        name: "string.quoted.single.multi-line.flitter"
    }
    {
        begin: "(\')"
        beginCaptures:
            '1':
                name: 'punctuation.definition.string.begin.flitter'
        end: "((?<=\')(\')|\')"
        endCaptures:
            '1':
                name: "punctuation.definition.string.end.flitter"
            '2':
                name: "meta.empty-string.single.flitter"
        name: "string.quoted.single.single-line.flitter"
        patterns: [
            {
                match: "\\\\'"
                name: 'constant.character.escape.flitter'
            }
        ]
    }
]
