av
cython>=3.0.0b1
lark
loguru
mako
moderngl
numpy
pillow
pyglet
pyserial
git+https://github.com/SpotlightKid/python-rtmidi.git@eb16ab3268b29b94cd2baa6bfc777f5cf5f908ba#egg=python-rtmidi
pyusb
regex
scipy
skia-python
trimesh
